

.canvas{
    background-color: black;
    width: 100%;
    overflow: hidden;
}
.go_back_button{
    background-color: orange;
    color: black;
}
.blogs__header{
    display: flex;
    justify-content: center;
    position: relative;
   
   }
   .front__blogs{
       font-size: 55px;
    font-weight: 900;
    color: white;
    z-index:3 ;
    margin-top: 5%;
   }
   .front__blogs span{
    color: orange;
    z-index:3 ;
   }
   .bg__blogs{
       font-size: 100px;
    font-weight: 900;
    color: rgba(128, 128, 128, 0.3);
    letter-spacing: 5px;
    margin-top: -120px;
    margin-left: -70px;
    position: absolute;
    z-index: -2;
   }
   
   .flex_center{
       display: flex;
       flex-direction: column;
       margin-left: 250px;
       max-width: 600px;

   }
   .blogpage_title{
       font-size: 30px;
       margin-top: 30px;
       text-align: left;
       font-weight: 600;
       color: orange;
   }
   .blogpage_image{
       width: 100%;
       object-fit: contain;

   }
   .category_container{
       display: flex;
       flex-direction: row;
   }
   .date{
       color: orange;
   }
   .go_back{
       position: relative;
       left: 60%;
       bottom: 30px;
   }
   .go_back_button{
       border: none;
       outline: none;
       color: white;
       font-weight: 600;
       padding: 5px 10px;
       border-radius: 5px;
       transition: 0.5s;
       background-color: #222;

   }
   .go_back_button:hover{
       background-color: orange;
   }
   
   .category{
       margin-bottom: -20px;
       display: flex;
       justify-content: flex-end;
       color: orange;
       margin-top: 10px;
   }
   .blogpage_content{
       margin-top: 10px;
   }
   @media only screen and (max-width: 1125px) { 
    .flex_center{
        margin-left: 150px;
        max-width: 600px;
 
    }

   }
   @media only screen and (max-width: 990px) { 
    .flex_center{
        margin-left: 50px;
        max-width: 90%;
 
    }
    .category {
        margin-bottom: -39px;
        margin-right: 30px;
    }

   }
   @media only screen and (max-width: 770px) { 
    .blogpage_title {
        font-size: 23px;
       
    }
    .category {
        margin-bottom: -28px;
    
    }
    .flex_center {
        margin-left: 29px;
       
    }
    .front__blogs {
        font-size: 49px;
        font-weight: 900;
        color: white;
        z-index: 3;
        margin-top: 5%;
    }
    .bg__blogs {
        font-size: 92px;
        font-weight: 900;
        color: rgba(128, 128, 128, 0.3);
        letter-spacing: 5px;
        margin-top: -105px;
        margin-left: -70px;
        position: absolute;
        z-index: -2;
    }
    .category {
        margin-bottom: -44px;
        margin-top: 38px;
    }

   }
   @media only screen and (max-width: 520px) { 
    .category {
        margin-bottom: -32px;
        margin-top: 42px;
    }
    .flex_center {
        margin-left: 0px;
    }

   }
   /* responsive navbar code starts */
.slide_button{
    height: 55px;
    width: 55px;
    background-color: #222;
     margin: 30px 30px 0px 0px;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 10;
     position: absolute;
     top: 5% !important;
     left: 84% !important;
  }
  #responsive_menu{
    width: 100%;
    height: 100%;
    background-color:#222 ;
    position: absolute;
    top: 0;
    padding:0px 40px;
    padding-top: 80px;
    transition: 2s;
  }
 #show_none{
   display: none;
 }
  .disp_none{
    display: flex;
  }
  .res_menu_title{
    color: white;
  }

  .res_menu_items{
    display: flex;
  }
  .res_menu_icon{
    margin-top: 5px;
  }
  .res_menu_title{
    font-size: 30px;
    font-weight: 600;
    padding-left: 20px;
  }

  /* responsive navbar ends */
 