.Home{
  background-color: rgb(17,17,17);
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
 }
 .Home::before{
   content: '';
   background-color: rgb(255,180,0);
   height: 120%;
   width: 30%;
   left: -12%;
   position: absolute;
   transform: rotate(-15deg);
 }
 .Home::after{
   content: '';
   background-color: black;
   height: 80%;
   width: 30%;
   position: absolute;
   top: 10%;
   left: 2%;
   border-radius:10px;
   box-shadow: 2px 2px 2px 10px black;
   background-image: url(./img/1.jpg);
   background-size: cover;
   background-position: -5cm;
  
   background-repeat: no-repeat;
 }

.home__Text__Header{
display: flex;
justify-content: center;
align-items: center;
color: #ffffff;
 flex-direction: column;
 margin-top: 10%;
 margin-left: 15%;
}
.home__Text__Header_Dash{
 height: 5px;
 width: 50px;
 background-color: orange;
 border-radius: 100px;
 margin-top: 30px;
}
.home__Text__Header_Title{
 display: flex;
}
.name{
 margin-top: 0px;
 margin-left: 25px;
}
.adj_font{
 font-size: 45px;
 font-weight: 900;
}
.font_color{
 color: orange;
}



 @media only screen and (min-width: 992px) {   
  .home2{ display: none;}
  .responsive_menu1{display: none;}
  
 }
 @media only screen and (max-width: 992px) {  
   .Home{display: none;} 
  .home2{
    background-color: rgb(17,17,17);
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
 
  .img_rounded{
    height: 230px;
    width: 230px;
    background-color: #222 ;
    border-radius: 50%;
    position: absolute;
    top:10% ;
    left: 42%;
    object-fit: contain;

  }
  .img_rounded img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;

  }
  
  .home2_namewrapper{
    position: absolute;
    top: 52%;
    left: 30%;

  }
  .home__Text__Header_Dsc1{
    text-align: center;
    color: white;
  }
  .color_adjuster{
    color: white;
  }
  .margin_adjuster1{
    margin-left: 50px;
  }
  .margin_adjuster2{
    margin-left: -30px;
  }
  .adjust_btn{
    position: absolute;
    top: 90% !important;
    left: 45%;
  }
 
  /* responsive navbar code starts */
  .slide_button{
    height: 55px;
    width: 55px;
    background-color: #222;
     margin: 30px 30px 0px 0px;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1;
     position: relative;
     top: 0% !important;
     left: 83% !important;
  }
  #responsive_menu{
    width: 100%;
    height: 100vh;
    background-color:#222 ;
    position: absolute;
    top: 0;
    padding:0px 40px;
    padding-top: 80px;
    transition: 2s;
  }
 #show_none{
   display: none;
 }
  .disp_none{
    display: flex;
  }
  .res_menu_title{
    color: white;
  }

  .res_menu_items{
    display: flex;
  }
  .res_menu_icon{
    margin-top: 5px;
  }
  .res_menu_title{
    font-size: 30px;
    font-weight: 600;
    padding-left: 20px;
  }

  /* responsive navbar ends */
 }
 @media only screen and (max-width: 574px) { 
  .img_rounded{display: none;}
  .home2_namewrapper{
    position: absolute;
    top: 24%;
    left: 5%;
  }
  .margin_adjuster1{
    margin-left: 0px;
  }
  .margin_adjuster2{
    margin-left: 0px;
  }
  .home__Text__Header_Dsc1{
    text-align: left;
    color: white;
  }
  .adj_font{
    font-size: 30px;
    font-weight: 900;
   }
   .btn_adjusted{
    top: 65%;
    left: 10%;
  }
  .home__Text__Header_Dsc1{
    padding: 10px;
  }
  .adjust_btn{
    position: absolute;
    top: 65% !important;
    left: 10%;
  }
  
 }
 @media only screen and (min-width: 575px) and (max-width:786px ) { 
 
  .img_rounded{
    left: 30%;


  }
  .name_adj_for_responsive{
    margin-left: -60px;
  }
  .dsc_adj_for_responsive{
    margin-left: -110px;

  }
  .margin_adjuster2{
    margin-left: -140px;
  }
  .adjust_btn{
    position: absolute;
    top: 90% !important;
    left: 30%;
  }
}


