.about_info_box_content{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 12px 20px 12px 20px;
    margin-left: 10px;
    transition: 0.2s;
    cursor: pointer;
}
.about_info_box_content:hover{
    -moz-box-shadow: 0 0 10px #ccc;
-webkit-box-shadow: 0 0 10px #ccc;
box-shadow: 0 0 10px #ccc;
}
.number{
    font-size: 40px;
    color: orange;
    font-weight: 900;
}
.desc{
    display: flex;
}
.small_line{
    height: 1px;
    width: 35px;
    background-color: grey;
    margin-top: 10px;
    margin-left: 10px;
}
.real_desc{
    color: white;
    margin-left: 10px;
}